<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="static/css/fontawesome/css/all.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/pager.css" />
    <link rel="stylesheet" href="static/css/questionnair.css">
  </head>

  <body>
  <div class="background-container">
    <div class="container">
      <nav class="navbar">
        <button id="backButton">
          <i id="backButton" class="fas fa-arrow-left"></i>
	</button>
	<!--
        <div class="middle">
            <object id="flag1" type="image/svg+xml" data="static/flags/germany.svg">Your browser does not support SVG</object>
            <i class="fas fa-arrow-right"></i>
            <object id="flag2" type="image/svg+xml" data="static/flags/switzerland.svg">Your browser does not support SVG</object>
        </div>

        <button id="nextButton">
          <div class="form-inline">
            <i id="nextButton" class="fas fa-arrow-right"></i>
          </div>
	</button>-->
      </nav>

    <div class="page">
	    <p><br> {{localization['error_occured']}}</br></p>
    </div>
    </div> <!-- container -->
    </div> <!-- background-container -->

    <!-- Navigation through the pages -->
    <script>
     // set flags in pager in nav-bar correctly
     var url = new URL(window.location);
     var from_language = url.searchParams.get("from");
     var to_language = url.searchParams.get("to");

     function backToCrossing() {
         location.href = 'crossing?from=' + from_language + '&to=' + to_language
     }

     document.getElementById("backButton").onclick = function(){
       backToCrossing()
     };

    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="static/js/data_processing.js"></script>
  </body>
</html>


ERROR!
