{% block content %}
    <h1>Answer Questionnaire</h1>
    <form action="" method="post" novalidate>
        {{  .hidden_tag() }}
        <p>
            {{ form.firstname.label }}<br>
            {{ form.firstname(size=32) }}
        </p>
        <p>
            {{ form.lastname.label }}<br>
            {{ form.lastname(size=32) }}
        </p>
        <p>
            {{ form.handynr.label }}<br>
            {{ form.handynr(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}