div.header {
    height: 250px !important;
    width: 100% !important;
    margin: 0px !important;
    padding: 10px;
    
        background: rgba(225, 227, 230, 0.6);
    border: 3px solid rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    height: 47px;
    width: 200px;

    font-family: Comfortaa;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-indent: 15px;
    
    display: flex;
    align-items: center;
    margin-left: 15px;
}
div.header p {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-style: normal;
    font-size: 24px;
    line-height: 35px;
}

.input-group {
    margin-top: 20%;
}
