.bordercross-question {
    height: 36vh;
    padding-bottom: 2vh;
}

.flagscontainer {
    height: 56.5vh;
    padding-top: 2vh;
}

.flag-btn {
    height: 180px;
    width: 130px;
    padding: 10px 10px 10px 10px;
}

.flag-drpd {
    height: 100%;
    width: 100%;
}

.flag-select {
    height: 100%;
    width: 100%;
}

.btn{
background: #E1E3E6;;
}

.dropdown{
max-width: unset;
}
.dropdown-item{
background: #E1E3E6;
}
.dropdown-menu{
background: #E1E3E6;
}
.dropdown-menu.show {
    width: 25px;
}

.current-language{
color:black;
}

.current-border-text{
color:black;
}

.background-container{
background: linear-gradient(180deg, #DADADA 0%, #F1F1F1 105.3%, #F1F1F1 105.31%, #FFFFFF 105.32%);
}
