.bordercross-question {
    height: 36vh;
    padding-bottom: 2vh;
    text-align: center;
}

.flagscontainer {
    height: 56.5vh;
    padding-top: 2vh;
}

.flag-btn {
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    margin-left:0px;
}

.flag-drpd {
    height: 100%;
    width: 100%;
}

.flag-select {
    height: 100%;
    width: 100%;
}

.btn{
background: #E1E3E6;
}
.btn-lg{
font-size:2rem;
}
.btn-secondary{
color: #000;
}
.dropdown{
max-width: unset;
}
.dropdown-item{
background: #E1E3E6;
}
.dropdown-menu{
background: #E1E3E6;
min-width:0px;
}
.dropdown-menu.show {
    width: 100%;
}

.current-language{
color:black;
}

.current-border-text{
color:black;
text-align: center;
}

.background-container{
background: linear-gradient(180deg, #DADADA 0%, #F1F1F1 105.3%, #F1F1F1 105.31%, #FFFFFF 105.32%);
}
